<div class="row">
    <div class="col-lg-12">
        <uib-alert type="info" close="dismissAlert()" ng-show="!has_seen_alert">
            Bienvenido a Context ERP
        </uib-alert>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-product-hunt fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ stats.products_low_stock | number:0 }}</div>
                        <div>Prod. con bajo stock</div>
                    </div>
                </div>
            </div>
            <a ui-sref="list({entity:'productsVariants',search:{stock_lte:10}})">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>

        </div>
    </div>
    
    <div class="col-lg-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-stack-overflow fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ stats.resources_low_stock }}</div>
                        <div>Res. con bajo stock</div>
                    </div>
                </div>
            </div>
            <a ui-sref="list({entity:'itemResources',search:{stock_lte:10}})">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cart-arrow-down fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ stats.pending_orders }}</div>
                        <div>Ordenes pendientes</div>
                    </div>
                </div>
            </div>
            <a ui-sref="list({entity:'orders',search:{status: 1}})">
                <div class="panel-footer">
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-lg-3">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-basket fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">+</div>
                        <div>Crear orden</div>
                    </div>
                </div>
            </div>
            <a ui-sref="create({entity:'orders'})">
                <div class="panel-footer">
                    <span class="pull-left">Crear</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
