/* Template style */

html{
    overflow-x: hidden;
}

body {
  min-height: 2000px;
  padding-top: 51px;
}

.width-max{
    width: 100% !important;
}

.spacer{
    width: 100%;
}
.spacer.spacer-xs{
    height: 10px;
}
.spacer.spacer-sm{
    height: 20px;
}
.spacer.spacer-md{
    height: 40px;
}
.spacer.spacer-lg{
    height: 60px;
}

#dropdown-cart-product-list{
    width: 300px;
}

#dropdown-cart-product-list .media img{
    width: 60px;
}


/* Block products style */
.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

/*** PRODUCT DETAILS **/


.product-attribute li label.checked {
    /*border: 1px solid;*/
    box-shadow: 1px 1px 10px #000000;

}

.product-attribute label
{
    display: inline-block;
    background-color: #F3F3F3;
}
.product-attribute label.checked
{
    display: inline-block;
    background-color: #D2D2D2;
}
.product-attribute input[type="radio"]  {
    display: none;
}

.product-attribute > span {
    font-weight: 700;
    margin-right: 5px;
}


#product-image{
    width: 100%;
}

#product-image-container .item-price-container {
    width:108px;
    height:108px;
    font-size:25px;
    line-height:30px;
    padding-top: 35px;
}

#product-image-container .item-price-container .old-price {
    margin-top:24px;
}

#product-image-container .item-price-container .item-price{
    margin-top:39px;
}


.item-price-container {
    display:block;
    background:#27348b;
    text-align:center;
    color:#fff;
    width:81px;
    height:81px;
    position: absolute;
    bottom:-10px;
    right:-9px;
    border-radius:500px;
    z-index:801;
}

.item-price-container.top-left {
    bottom:auto;
    top:-10px;
    right:auto;
    left:-10px;
}

.item-price-container.top-right {
    bottom:auto;
    top:-10px;
    right:-10px;
    left:auto;
}

.item-price-container.bottom-left {
    bottom:-10px;;
    top:auto;
    right:auto;
    left:-10px;
}

.item-price-container.bottom-right {
    bottom:-10px;
    top:auto;
    right:-10px;
    left:auto;
}




.filter-color-list li{
    display:block;
    float:left;
    width:35px;
    margin:0 10px 10px 0;
}

.filter-color-list li .filter-color-box {
    display:block;
    width:35px;
    height:35px;
    background:#fafafa;
    border-radius:2px;
    box-shadow:0 1px 3px rgba(0,0,0, 0.35);
    -webkit-box-shadow:0 1px 3px rgba(0,0,0, 0.35);
}

.filter-color-list li.last-md {
    margin-right:0;
}

.filter-color-list li.last-lg {
    margin-right:10px;
}

.filter-size-list li {
    display:block;
    float:left;
    width:65px;
    margin: 0 10px 10px 0;
    font:700 16px/28px "Gudea", Arial, sans-serif;
    text-align:center;
    text-transform:uppercase;
}
.filter-size-list li a {
    display:block;
    width:100%;
    height:30px;
    background-color:#f4f4f4;
    border:1px solid #e0e0e0;
    color:#757575;
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
    border-radius:3px;
}
.filter-size-list li:hover a {
    background-color:#14bfcc;
    border-color:#14bfcc;
    color:#fff;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
}



.search-option {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 22px;
}

.search-option input {
    position: absolute;
    width: 0px;
    float: Left;
    margin-left: 210px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 30px;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius:1px;
}

.search-option:hover input, .search-option input:focus {
    width: 200px;
    margin-left: 0px;
}

.search-option .btn-search {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}

.select-options-text{
    font-size: 0.5em;
    font-style: italic;
    color: #808080;
    width: 100%;
    display: block;
}

.nya-bs-select .dropdown-menu, .nya-bs-select .dropdown-menu .dropdown-menu{
    width: 100%;
}

.error-messages{
    color: #c60000;
}

/**** END PRODUCT DETAILS ***/

/** ORDER DETAILS **/

.img-table{
    max-width: 100px !important;
    margin-right: 10px;
}

table tbody tr td{
    vertical-align: middle !important;
}