{% load i18n %}

<div class="btn-group dropdown-cart" >
    <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
        <span class="cart-menu-icon"></span>
        <span id="cart-quantity-items"></span> {% trans "Item" %}(s) <span class="drop-price total-cart"> $0.00</span>
    </button>
        <div class="dropdown-menu dropdown-cart-menu pull-right clearfix" role="menu">
            <p class="dropdown-cart-description">{% trans "Shopping cart" %}</p>
            <ul class="dropdown-cart-product-list" id="dropdown-cart-product-list">

            </ul>

            <ul class="dropdown-cart-total">
                <!--<li><span class="dropdown-cart-total-title">Shipping:</span>$7</li>-->
                <li><span class="dropdown-cart-total-title">Total:</span><span class="total-cart">$ 00.00</span></li>
            </ul><!-- .dropdown-cart-total -->
            <div class="dropdown-cart-action">
                <p><a href="#" class="btn btn-custom-2 btn-block">{% trans 'Cart' %}</a></p>
                <p><a href="#" class="btn btn-custom btn-block">{% trans 'Checkout' %}</a></p>
            </div><!-- End .dropdown-cart-action -->

        </div><!-- End .dropdown-cart -->
</div>


<script>
    //window.addEventListener("storage", function (e) {
    // do your checks to detect
    // changes in "e1", "e2" & "e3" here
    //console.log("CHJ");

    //StorageEvent {
    //    key;          // name of the property set, changed etc.
    //    oldValue;     // old value of property before change
    //    newValue;     // new value of property after change
    //    url;          // url of page that made the change
    //    storageArea;  // localStorage or sessionStorage,
    // depending on where the change happened.
    //}

    //}, false);

    //setInterval(function () {
    //    var time=new Date().getTime();
    //    localStorage.setItem("time", time);
    //    console.log("SET TIME");
    //}, 1000)


</script>