{% load i18n %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
<header id="header">
    <div id="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-top-left">
                        <ul id="top-links" class="clearfix">
                            {% include '_top_menu.html' %}
                        </ul>
                    </div><!-- End .header-top-left -->
                    <div class="header-top-right">

                        <div class="header-top-dropdowns pull-right">
                            {% include '_dropdown_money.html' %}
                            {% include '_dropdown_language.html' %}
                        </div><!-- End .header-top-dropdowns -->

                        <div class="header-text-container pull-right">
                            {% if user.is_authenticated %}
                                <p class="header-text">{% trans 'Welcome to' %} {{ user }}!</p>
                                <p class="header-link"><a href="{% url "account_logout" %}">{% trans "Log out" %}</a></p>
                            {% else %}
                                <p class="header-text">Welcome to Commerce!</p>
                                <p class="header-link"><a href="{% url "account_login" %}">{% trans "Log in" %}</a>&nbsp;or&nbsp;<a href="{% url 'account_signup' %}">{% trans "Register" %}</a></p>
                            {% endif %}
                        </div><!-- End .pull-right -->
                    </div><!-- End .header-top-right -->
                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #header-top -->

    <div id="inner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-12 logo-container">
                    <h1 class="logo clearfix">
                        <span>{{ custom_site.display_name }}</span>
                        <a href="/" title="{{ custom_site.display_name }}">
                            <img src="{{ custom_site.logo }}" alt="{{ custom_site.name }}" width="238" height="76">
                        </a>
                    </h1>
                </div><!-- End .col-md-5 -->
                <div class="col-md-7 col-sm-7 col-xs-12 header-inner-right">

                    <div class="header-box contact-infos pull-right">
                        <ul>
                            {% if custom_site.skype %}
                                <li><span class="header-box-icon header-box-icon-skype"></span>{{ custom_site.skype }}</li>
                            {% endif %}
                            {% for email in custom_site.emails %}
                                <li><span class="header-box-icon header-box-icon-email"></span><a href="mailto:{{ email }}">{{ email }}</a></li>
                            {% endfor %}
                        </ul>
                    </div><!-- End .contact-infos -->

                    <div class="header-box contact-phones pull-right clearfix">
                        <span class="header-box-icon header-box-icon-earphones"></span>
                        <ul class="pull-left">
                            {% for phone in custom_site.phones %}
                                <li>{{ phone }}</li>
                            {% endfor %}
                        </ul>
                    </div><!-- End .contact-phones -->

                </div><!-- End .col-md-7 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

        <div id="main-nav-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 clearfix">

                        <nav id="main-nav">
                            <div id="responsive-nav">
                                <div id="responsive-nav-button">
                                    Menu <span id="responsive-nav-button-icon"></span>
                                </div><!-- responsive-nav-button -->
                            </div>
                            <ul class="menu clearfix">
                                {% show_menu 0 1 100 100 "menu.html" %}
                            </ul>
                        </nav>

                        <div id="quick-access">
                            <div class="dropdown-cart-menu-container pull-right">
                                {% include '_dropdown_cart.html' %}
                            </div><!-- End .dropdown-cart-menu-container -->
                            {% include '_search.html' %}
                        </div><!-- End #quick-access -->
                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

        </div><!-- End #nav -->
    </div><!-- End #inner-header -->
</header><!-- End #header -->








