{% extends "userprofile/base.html" %}
{% load i18n %}

{% block title %}{% trans "Your orders" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><span class="active">{% trans "Your orders" %}</span></li>
{% endblock breadcrumb %}

{% block inner_content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-sm-2">
                    {% trans "Order #" %}
                </th>
                <th class="col-sm-2">
                    {% trans "Date" %}
                </th>
                <th class="col-sm-2">
                    {% trans "Price" %}
                </th>
                <th class="col-sm-2">
                    {% trans "Status" %}
                </th>
                <th class="col-sm-2">
                    {% trans "Last status change" %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td class="col-sm-2">
                        <a href="{% url 'order:detail' order.pk %}">{{ order.pk }}</a>
                    </td>
                    <td class="col-sm-2">
                        {{ order.created_at }}
                    </td>
                    <td class="col-sm-2">
                        $ {{ order.total }}
                    </td>
                    <td class="col-sm-2">
                        <span class="label label-default">{{ order.get_status_display }}</span>
                    </td>
                    <td class="col-sm-2">
                        <span class="label label-default">{{ order.get_last_status_change_display }}</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not orders %}
        <p>No tienes ninguna orden registrada</p>
    {% endif %}
{% endblock %}

