{% extends "userprofile/base.html" %}
{% load i18n thumbnail %}

{% block title %}{% trans "Order" %} {{ order }} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="{% url 'profile:orders' %}">{% trans "Your orders" %}</a></li>
<li><span class="active"></span>{{ order }}</li>
{% endblock breadcrumb %}

{% block inner_content %}
<header class="content-title">
    <h1 class="title">{% trans 'Order Detail' %}</h1>
    <p class="title-desc"></p>
</header>
<div class="row">
    <div class="col-sm-12">
        <p class="text-muted">Número de orden: # {{ order.id }} </p>
        <p class="text-muted">Estado: {{ order.get_status_display }} </p>
    </div>
</div>

<div class="panel panel-default table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-md-6">{% trans "Name" %}</th>
            <th class="col-md-2">{% trans "Quantity" %}</th>
            <th class="col-md-2 text-right">{% trans "Price" %}</th>
            <th class="col-md-2 text-right">{% trans "Subtotal" %}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th colspan="3">{% trans "Total" %}</th>
            <th class="text-right">{{ order.total }}</th>
        </tr>
        </tfoot>
        <tbody>

        {% for item in order.items.all %}
        <tr >
            <td><img src="{{ item.product.product.images.first.image|thumbnail_url:'150' }}" class="img-responsive img-thumbnail img-table pull-left">{{ item.product }}</td>
            <td class="text-center">{{ item.quantity }}</td>
            <td class="text-right">$ {{ item.price }} </td>
            <td class="text-right">$ {{ item.get_total | floatformat:2}}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% if not order.is_fully_paid %}
<div class="spacer spacer-sm"></div>
<button class="pull-right btn btn-custom">Pagar</button>
{% endif %}

{% endblock inner_content %}
